.title1 {
    background-color: black;
    color: white;
    border-radius: 10px;
}

#name {
    background-color: brown;
    color: white;
    border-radius: 10px;
}

.item {
    background-color: chocolate;
}

h3 {
    background-color: cornflowerblue;
}

/*child selector */

div>h3 {
    background-color: blueviolet;
}

* {
    /* background-color: blue;
    margin: 0;
    padding: 0; */
}

#button1 {
    background-color: rgb(56, 203, 208);
    border-radius: 18px;
    font-size: 20px;
    padding-inline: 20px;
    padding-block: 10px;
    margin: 40px;
    color: white;
    border: none;
    box-shadow: 2px 3px 10px gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.box {
    padding: 60px;
    border: 50px solid black;
    margin: 60px;
}

#cas1{
    background-color: red  ;
}
.cas2{
    background-color: green !important ;
}