.btn{
    background-color: blue;
    border: none;
    padding: 10px 20px; 
    border-radius: 8px;
    color: white;
}

@media only screen and (min-width: 425px) and (max-width: 768px){
    .btn{
         background-color: transparent;
         border: 1px solid blue;
         color: blue;
    }
}