.item{
    background-color: aqua;
    border-radius: 8px;
    border: 1px solid black;
    padding: 20px;
    margin: 3px;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.item-1{
    grid-column-start: 1;
    grid-column-end: 7;
   
}

.item-2{
  grid-row-start: 2;
  grid-row-end: 4;
 
}
.item-4{
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 7;
 
}
.item-3{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 500px;

}

.item-5{
    grid-column-start: 1;
    grid-column-end: 7;
}
