.nav{
    background-color: brown;
    height: 100px;
    border-radius: 10px;
}

@media only screen and (max-width: 425px) and (min-width: 376px){
    .nav{
        background-color: blueviolet;
    }
}