*{
    margin: 0;
    padding: 0;
}

.nav{
    background: linear-gradient(to right, #0949a2, #095bcc);
    height: 200px;
}
.nav1{
    display: flex;
    justify-content: center;
}
h2{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.btn{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}