.item{
    background-color: aqua;
    border-radius: 8px;
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
    width: 150px;
    text-align: center;
}

.parent1{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.parent2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 400px;
    margin-bottom: 100px;
}
.parent{
    display: flex;
    flex-direction: column-reverse;
}